<div>
  <div ng-include="'menu.html'"> 
  </div>
  <snap-dragger> 
  </snap-dragger>
  <snap-content snap-opt-tap-to-close="false">
  <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
    <span class="menutoggle">
      <i ng-hide="menuOpen" class="fa1 glyphicon glyphicon-menu-hamburger fa-2x"></i>
      <i ng-show="menuOpen" class="fa1 glyphicon glyphicon-remove fa-2x"></i>
    </span>
  </a>
  <a href="#/logout" class="btn btn-login-hover btn-lg login-btn-new col-xs-2 text-center" style='float:right;'>Logout</a>

  <div class="fr" >
    <h2> SPECIAL ED <small> Assessments</small></h2>
      <button style='background:none; border:none; top:100px;' ng-if="!readyToStart || showSavedAs" ng-click='backHome()'><i class='glyphicon glyphicon-arrow-left'></i> Back</button>
    <div ng-if="readyToStart && !showSavedAs">
    <div class='jumbotron col-sm-8'>
        <h2> C.A.R.S ASSESSMENT </h2>
        <p>
          This test compromises of 76 behavioral questions to diagnose if your kid/student is autistic and the severity of it. At the end of the assessment you will be able to see the results broken down into five main categories: <b> Social behaviour</b>, <b>Preservation</b>, <b>Communication and development</b>, <b>Sensory disturbance</b> and <b>Attention and Safety</b>.
        </p>
        <p>Click <big><i class='glyphicon glyphicon-play'></i></big> to start or <big> <i class='glyphicon glyphicon-floppy-disk'></i></big> to show saved assessments</p> 
          <div class='col-xs-6'><button style='width:80%;' class="btn btn-login-hover btn-lg login-btn-new text-center" ng-click="start()" ><i class='glyphicon glyphicon-play'></i></button></div>
          <div class='col-xs-6'><button style='width:80%;' class="btn btn-login-hover btn-lg login-btn-new text-center" ng-click="showSaved()" ><i class='glyphicon glyphicon-floppy-disk'></i></button></div>
      </div>
    </div>
    <div class='fr' ng-if="!readyToStart && !showAllQs">
    <div class='jumbotron' >
      <h3> Category: {{currentQuestion.category}} Q <span class='h4'>{{currentQuestion.questionNum}}</span> of <span class='h4'>{{totalNumberOfQuestions}} </span><span class='h4'> </span></h3>
      <div class="container-fluid" style="background: rgba(255,255,255,0.5); padding:20px;">
        <form role="form">
          <div class="table-form">
            <div class="form-groups">
              <div class="form-group">
                <div style='height:190px;'>
                  <div class='col-xs-12'>
                     <h4>Does your kid show the following: </span></h4>
                  </div>
                  <div class='col-xs-8'>
                    <p> <big> {{currentQuestion.Q}} </big></p>
                  </div>
                </div>
                <div class='col-xs-12 text-center' style='height:40px;'>
                  <div class="navbar-form input-group radio" >
                    <div class='col-xs-6'>
                      <span ><input type="radio"  value="0" ng-model="currentQuestion.value" > Yes </span> <span class='col-xs-2'></span>
                    </div>
                  <div class='col-xs-6'>
                    <span ><input type="radio" value="1" ng-model="currentQuestion.value" > No </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class='col-md-4 col-xs-12'  ng-if="!readyToSubmit">
        <button class='btn btn-login-hover btn-lg login-btn-new text-center' ng-click="nextQuestion()" style='width:80%'> Next</button>
      </div>
      <div class='col-md-4 col-xs-12' ng-if="readyToSubmit">
        <button class='btn btn-login-hover btn-lg login-btn-new text-center'  ng-click="submit()" style=' width:80%'> Submit </button>
      </div>
      <div class='col-md-4 col-xs-12'>
        <button style=' width:80%' class='btn btn-login-hover btn-lg login-btn-new text-center' ng-click="showAll()"> All Questions </button>
      </div>
      <div class='col-md-4 col-xs-12'>
        <button class='btn btn-login-hover btn-lg login-btn-new text-center' ng-click="saveAndContinue()" style=' width:80%'> Save & Exit </button>
      </div>
    </div>
    </div>
    <script type="text/ng-template" id="myModalContent.html">
    <div>
      <div class="modal-header">
          <h3 class="modal-title">You are about to submit</h3>
      </div>
      <div class="modal-body">
          <p> Click <big>Ok</big> to send assessment answers, and <big>Cancel</big> to edit your answers </p>
          </div>
        <div class="modal-footer" >
            <button class="btn btn btn-login-hover btn-lg login-btn-new text-center" type="button" ng-click="ok(finalScore)"><i class='glyphicon glyphicon-ok'></i>OK</button>
            <button class="btn btn-login-hover btn-lg login-btn-new text-center" type="button" ng-click="cancel()" style='color:red;'> <i class='glyphicon glyphicon-remove'></i>Cancel</button>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="myModalSaveAs.html">
      <div class="modal-header">
        <h3 class="modal-title">Save & Exit </h3>
      </div>
      <div class="modal-body">
        <p> Fill in a name that you can easily remember </p>
      <div class="form-group">
        <input placeholder='Save As' class='form-control input-lg' ng-model='savedAssessment.name' style='background:none; border:#232c4b solid; border-radius:10px; width:50%'>
      </div>
      <div class="modal-footer">
        <button class="btn btn-login-hover btn-lg login-btn-new text-center" type="button" ng-click="ok(finalScore)"><i class='glyphicon glyphicon-save'></i> Save</button>
        <button class="btn btn btn-login-hover color btn-lg login-btn-new text-center" type="button" ng-click="cancel()" style='color:red;'> <i class='glyphicon glyphicon-remove'></i> Cancel</button>
      </div>
    </script>
  <div class='fr text-center' ng-if='showAllQs'>
    <div class='col-xs-8' >
      <div class='container-fluid col-xs-2' style='padding:10px; border:1px #fff solid; background:#232c4b; color:#fff;'>
        #
      </div>
      <div class='container-fluid col-xs-4 ' style='padding:10px; border:1px #fff solid; background:#232c4b; color:#fff;'>
        Catgory
      </div>
      <div class='container-fluid col-xs-2' style='padding:10px; border:1px #fff solid; background:#232c4b; color:#fff;'>
        Answer
      </div>
    </div>
    <div class='col-xs-8' ng-repeat='question in list.questions'>
      <a href='' ng-click='goToQuestion($index)' style='color:blue;'> 
        <div class='container-fluid col-xs-2' style='background:#fff;'>
          <u>{{question.questionNum}}</u>
        </div> 
      </a>
      <div class='container-fluid col-xs-4' style='background:#fff; color:#232c4b;'>
       {{question.category}}
      </div>
      <div class='container-fluid col-xs-2' ng-if="question.value ==='1'" style='background:#fff; color:#232c4b;'>
        No
      </div>
      <div class='container-fluid col-xs-2' ng-if='question.value === "0"' style='background:#fff; color:#232c4b;'>
        Yes
      </div>
      <div class='container-fluid col-xs-2' ng-if='!question.value' style='background:#fff; color:#232c4b;'>
        -
      </div>  
    </div>
  </div>
  <div class='fr text-center' ng-if='showSavedAs'>
    <div class='col-xs-8'>
      <div class="circle2" ng-repeat='assessment in data.savedAssessments'>
        <button style='background:none; border:none;' ng-click='showSelectedAssessment(assessment)'><img src="../images/assessment.png"></button><br/>
        <caption>
          {{assessment.name}}
        </caption>
      </div>
    </div>
</div>
</snap-content>
</div>
