<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">

		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2>Centers details <small>The list of centers:</small></h2>
		</div>
		<div class="jumbotron">
			<div class="container">
				<div id="map" style="width: 90%; height: 500px; background-color:lightyellow; margin: 10px auto;"></div>
				<h1>Center Name</h1>
				<!-- <h1>{{data.centers}}</h1> -->
				<div>
					<ul ng-repeat="center in data.centers">
						<li>{{center.centername}}</li>
					</ul>
				</div>
				Centers details:  ......
				<br/><br />
				

				<p>
					<a href="" class="btn btn-primary btn-lg btn-white" ng-click='logout()'>Logout</a>
				</p>
				



<!-- Thumbnain -->



<div class="container">
    <!-- this section is for the buttons of change view list or grid: -->
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <!-- the lists is going here: -->
    <div id="products" class="row list-group">
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="../../images/school-minions.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Center Name:</h4>
                    <p class="group inner list-group-item-text">
                        About this center... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                xxxxxxxxxx</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="../../images/school-minions.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Center Name:</h4>
                    <p class="group inner list-group-item-text">
                        About this center... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                xxxxxxxxxx</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="../../images/school-minions.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Center Name:</h4>
                    <p class="group inner list-group-item-text">
                        About this center... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                xxxxxxxxxx</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="../../images/school-minions.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Center Name:</h4>
                    <p class="group inner list-group-item-text">
                        About this center... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                xxxxxxxxxx</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="../../images/school-minions.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Center Name:</h4>
                    <p class="group inner list-group-item-text">
                        About this center... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                xxxxxxxxxx</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="../../images/school-minions.jpg" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        Center Name:</h4>
                    <p class="group inner list-group-item-text">
                        About this center... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                xxxxxxxxxx</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















<!-- 
<div class="container">
	<div class="row">
  		<ul class="thumbnails">
                    <li class="span4">
            <div class="thumbnail">
                  <img src="//placehold.it/360x200/2255EE">
                  <div class="caption">
                    <h3>Product name</h3>
                    <p>Few attractive words about your product.Few attractive words about your product.</p>
                  </div>
                  <div class="widget-footer">
                    <p>
                      <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                      <a href="product.html" class="btn">Read more</a>
                    </p>
                  </div>
              
              		<div class="ribbon-wrapper">
                  <div class="ribbon success">
                      #1
                  </div>
              </div>
          	</div>
          </li>
                    <li class="span4">
            <div class="thumbnail">
                  <img src="//placehold.it/360x200/2255EE">
                  <div class="caption">
                    <h3>Product name</h3>
                    <p>Few attractive words about your product.Few attractive words about your product.</p>
                  </div>
                  <div class="widget-footer">
                    <p>
                      <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                      <a href="product.html" class="btn">Read more</a>
                    </p>
                  </div>
              
              		<div class="ribbon-wrapper">
                  <div class="ribbon success">
                      #1
                  </div>
              </div>
          	</div>
          </li>
          <li class="span4">
            <div class="thumbnail">
                  <img src="//placehold.it/360x200/2255EE">
                  <div class="caption">
                    <h3>Product name</h3>
                    <p>Few attractive words about your product.Few attractive words about your product.</p>
                  </div>
                  <div class="widget-footer">
                    <p>
                      <a href="#" class="btn btn-primary">Buy now</a>&nbsp;
                      <a href="product.html" class="btn">Read more</a>
                    </p>
                  </div>
              
              		<div class="ribbon-wrapper">
                  <div class="ribbon success">
                      #1
                  </div>
              </div>
          	</div>
          </li>
        </ul>
      
	</div>
</div>
 -->








<!--  				<div id="centersThumbs" style="width:800px; height: 300px; background-color:lightyellow; margin: 10px auto">
					<div style="width: 30%; height: auto; border-radius: 15px 50px 30px; background-color: lightgreen;">
						<h3 class='text-center' style='color:lightblue;'> Center Name </h3>
						<br/>
						
						<img src="../../img/apple.png" class='img-responsive' style= 'width: 100px; height:100px; float: right;'">
						
						<br/>
						<button class='btn btn-default btn-block' style="width: 75%; margin: 10px auto;"> More details </button>
						<br/>
					</div>
				</div>
 -->




				<!-- <div style="background-color: lightyellow;">
					<ul ng-repeat="marker in markers" ng-click="openInfoWindow($event, marker)">
						<li>
							{{marker}}
						</li>
					</ul>
				</div> -->
			</div>
		</div>
	</snap-content>	
</div>
