<div ng-include="'menu.html'"></div>
  <snap-dragger></snap-dragger>
  <snap-content snap-opt-tap-to-close="false">

  <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
    <span class="menutoggle">
      <i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
      <i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
    </span>
  </a>
  <div class='jumbotron'>
		<div class="container-fluid" style="background: #ece8e7; padding:10px;">
			<div class="photo col-sm-3 col-xs-12">
				<figure>
				 	<img src="../images/flat-avatar.png" class="user-avatar img-circle img-responsive"/>
          <figcaption class="ratings">
            <p class="text-center">Ratings
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </p>
          </figcaption>
        </figure>
			</div>
			<!-- col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 -->
      <div ng-if="!edit" class="col-sm-9">
        <h2> Center </h2>
        <p><strong>Birthdate: </strong> {{data.student.birthdate}} </p>
        <p><strong>Emergency Number: </strong>{{data.student.emergencyNumber}}</p>
        <p><strong>Todos:</strong>{{data.student.todos}}</p>
        </div>
        <div ng-if="edit">
          <p><strong>Name: </strong> <input type="text" value={{data.student.fullname}} style="color: #C0C0C0;" ng-model="user.fullname"></input></p>
          <p><strong>Password: </strong><input type="text" value={{data.student.password}} style="color: #C0C0C0;" ng-model=user.password> </p>
          <p><strong>Birthdate: </strong><input type="date" id="dateOfBirth" ng-model="user.birthdate"></p>
          <p><strong>Emergency Number: </strong><input type="text" value={{data.student.emergencyNumber}} style="color: #C0C0C0;" ng-model="user.emergencyNumber"></p>
          <p><strong>Todos:</strong><input type="text" value={{data.student.todos}} style="color: #C0C0C0;" ng-model="user.todos"></p>
          <button ng-click="editProfile()">Edit</button>
      </div>            
      <div class="col-xs-12 divider text-center">
        <div class="col-xs-12 col-sm-4 emphasis">
          <h3><strong> 5 </strong></h3>                    
          <p><small> Teachers </small></p>
          <button class="btn btn-success btn-block" ng-click="viewTeachers()"> <span class="fa fa-user"></span> View Teachers </button>
        </div>
          <div class="col-xs-12 col-sm-4 emphasis">
            <h3><strong>3</strong></h3>                    
            <p><small>Games</small></p>
            <button class="btn btn-info btn-block" ng-click="viewGames()"></span> Play Games </button>
          </div>
        <div class="col-xs-12 col-sm-4 emphasis">
            <h3><strong>3</strong></h3>                    
            <p><small>Edit</small></p>
            <button class="btn btn-warning btn-block" ng-click="editflag()"></span> Edit Profile </button>
          </div>
      </div>
 </div>
 </div>
    <div id="Stats" class='jumbotron'>
      <div class="container-fluid" style="border-top:1px white solid; border-bottom:1px white solid; 'padding:10px;">
        <div class='col-xs-12 text-center' >
          <h2> STATS </h2>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge1" width="97%"></svg> <h5 class="text-center"> COMMUNICATION </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge2" width="97%"></svg> <h5 class="text-center"> SPEECH </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge3" width="97%"></svg> <h5 class="text-center"> SOCIAL </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge4" width="97%"></svg> <h5 class="text-center"> MEMORY</h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge5" width="97%"></svg> <h5 class="text-center"> PHYSICAL </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge6" width="97%"></svg> <h5 class="text-center"> RESPNISIVENESS </h5>
        </div>
      </div>
    </div>
	</snap-content>	
</div>
