<div>
  <div ng-include="'menu.html'"></div>
  <snap-dragger></snap-dragger>
  <snap-content snap-opt-tap-to-close="false">
  <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
    <span class="menutoggle">
      <i ng-hide="menuOpen" class="fa1 glyphicon glyphicon-menu-hamburger fa-2x"></i>
      <i ng-show="menuOpen" class="fa1 glyphicon glyphicon-remove fa-2x"></i>
    </span>
  </a>
  <a href="#/logout" class="btn btn-login-hover btn-lg login-btn-new col-xs-2 text-center" style='float:right;'>Logout</a>
  <div class="fr" >
    <h2> SPECIAL ED <small> Overview</small></h2>
  </div>
  	<div class="fr">
  	<div class="jumbotron">
  		<div class="container">
  			<div class='col-sm-8'>
  				<h1>Welcome!</h1>
  				Special Ed welcomes you into a unique learning and educational management experience, click the icon at the top left corner and see the different options you can choose from test <br /><br />
          <div class="circles text-center">
          <div class="circle2">
            <a href="#/dashboard/profile"><img src="../images/membersArea.png"></a><br/>
            <caption>Profile area</caption> 
          </div>      
          <div class="circle2">
            <a href="#/dashboard/assessment"><img src="../images/assessment.png"></a><br/>
            <caption>Assessment</caption>
          </div>
          <div class="circle2">
            <a href="#/dashboard/games"><img src="../images/game.png"></a><br/>
            <caption>Games</caption>
          </div>
          <div class="circle2">
            <a href="#/dashboard/centers"><img src="../images/centers.png"></a><br/>
            <caption>Centers</caption>
          </div>
        </div>
      </div>
  		</div>
  	</div>
  </snap-content>	
</div>