<div>
 <div ng-include="'menu.html'"></div>
  <snap-dragger></snap-dragger>
  <snap-content snap-opt-tap-to-close="false">
  <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
    <span class="menutoggle">
      <i ng-hide="menuOpen" class="fa1 glyphicon glyphicon-menu-hamburger fa-2x"></i>
      <i ng-show="menuOpen" class="fa1 glyphicon glyphicon-remove fa-2x"></i>
    </span>
  </a>
  <a href="#/logout" class="btn btn-login-hover btn-lg login-btn-new col-xs-2 text-center" style='float:right;'>Logout</a>
  <div class="fr" >
    <h2> SPECIAL ED <small> Games</small></h2>
  </div>
  <div class='fr'>
    <div class='jumbotron col-xs-12' style='padding:0px; margin-top:0px;'>
        <a class='btn btn-login-hover btn-lg login-btn-new col-xs-2 text-center' style='background:none; border:none; margin-top:0px; margin-bottom:0px;padding:0px;'  href='#/dashboard/games'><i class='glyphicon glyphicon-arrow-left'></i> Back to play zone</a>
    </div>
  </div>
      <div class='contentWrapper ng-cloak'>
      <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
        <div class='content'>
          <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3" style='margin-left:10px;' ng-repeat="image in images">
                <div class="thumbnail">
                  <div class="caption">
                    <div class='emage'><img ng-src="img/{{image.thumb}}"/></div>
                    <p><div class="btn-droppable"  data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback'}">
                      <div class="btn btn-draggable" data-drag="false" id="red" ng-show="list1[$index].title" data-drag="{{list1[$index].drag}}" data-jqyoui-options="{revert: 'true'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{list1[$index].title}}</div>
                    </div></p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="">
        <div class="container form-inline" style="text-align: center;">
          <div class=" btn-droppable" ng-repeat="item in list2" data-drop="true" ng-model='list2' jqyoui-droppable="{index: {{$index}}}">
            <div class="btn btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(item, $index)'}" ng-hide="!item.title">{{item.title}}</div>
          </div>
        </div>
      </div>
        <button ng-if="ch"  class="btn btn-success center-block"  ng-click="check()">Check</button>
      <div ng-if="false1" class="alert alert-warning">
        <strong>Wrong!</strong> Answer Play Again.
      </div>
      <div ng-if="true1" class="alert alert-success">
        <strong>congratulations!</strong> Correct Answer.
      </div>
    </div>
</snap-content>
</div>
