<div ng-include="'menu.html'"></div>
  <snap-dragger></snap-dragger>
  <snap-content snap-opt-tap-to-close="false">

  <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
    <span class="menutoggle">
      <i ng-hide="menuOpen" class="glyphicon glyphicon-chevron-right fa-2x" style='color:#232c4b'></i>
      <i ng-show="menuOpen" class="glyphicon glyphicon-chevron-left fa-2x" style='color:#232c4b' ></i>
    </span>
  </a>
  <div class='fr'>
    <div class='jumbotron'>
      <div class='container'>
        <h1> Loading Page ... </h1>
      </div>
    </div>
  </div>
</snap-content>