 <div ng-include="'menu.html'"></div>
    <snap-dragger></snap-dragger>
    <snap-content snap-opt-tap-to-close="false">
        <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
            <span class="menutoggle">
                <i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
                <i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
            </span>
        </a>
        <div class="fr">
<h2>Centers</h2>
<ui>
	<li ng-repeat="center in data.centers">{{center.centername}}</li>
</ui>
<h2>Teachers</h2>
<ui>
	<li ng-repeat="teacher in data.teachers">{{teacher.teachername}}</li>
</ui>