<div ng-include="'menu.html'"></div>
  <snap-dragger></snap-dragger>
  <snap-content snap-opt-tap-to-close="false">

  <a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
    <span class="menutoggle">
      <i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
      <i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
    </span>
  </a>
  <div class='jumbotron'>
		<div class="container-fluid" style="background: #ece8e7; padding:10px;">
			<div class="photo col-sm-3 col-xs-12">
				<figure>
				 	<img src="../images/flat-avatar.png" class="user-avatar img-circle img-responsive"/>
          <figcaption class="ratings">
            <p class="text-center">Ratings
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </p>
          </figcaption>
        </figure>
			</div>
			<!-- col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 -->
      <div class="col-sm-9">
        <h2>{{data.student.fullname}}</h2>
        <p><strong>About: </strong> Cool kid </p>
        <p><strong>Age </strong> 6 </p>
        <p><strong>Skills: </strong>
            <span class="tags">html5</span> 
            <span class="tags">css3</span>
            <span class="tags">jquery</span>
            <span class="tags">bootstrap3</span>
        </p>
      </div>            
      <div class="col-xs-12 divider text-center">
        <div class="col-xs-12 col-sm-4 emphasis">
          <h3><strong> 5 </strong></h3>                    
          <p><small> Teachers </small></p>
          <a href='#Stats' class="btn btn-success btn-block"> <span class="fa fa-user"></span> View Teachers </a>
        </div>
          <div class="col-xs-12 col-sm-4 emphasis">
            <h3><strong>3</strong></h3>                    
            <p><small>Games</small></p>
            <button class="btn btn-info btn-block"></span> Play Games </button>
          </div>
          <div class="col-xs-12 col-sm-4 emphasis">
            <h3><strong>43</strong></h3>                    
            <p><small>Snippets</small></p>
            <div class="btn-group dropup btn-block">
            <!-- btn btn-primary -->
              <button type="button" class="btn btn-primary btn-block75" data-toggle="dropdown"><span class="fa fa-gear"></span> Options </button>
              <button type="button" class="btn btn-primary btn-block25 dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul id="dropdown" class="dropdown-menu text-left" role="menu">
                <li><a href="#"><span class="fa fa-envelope pull-right"></span> Send an email </a></li>
                <li><a href="#"><span class="fa fa-list pull-right"></span> Add or remove from a list  </a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="fa fa-warning pull-right"></span>Report this user for spam</a></li>
                <li class="divider"></li>
                <li><a href="#" class="btn disabled" role="button"> Unfollow </a></li>
              </ul>
            </div>
          </div>
      </div>
 </div>
 </div>
    <div id="Stats" class='jumbotron'>
      <div class="container-fluid" style="border-top:1px white solid; border-bottom:1px white solid; 'padding:10px;">
        <div class='col-xs-12 text-center' >
          <h2> STATS </h2>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge1" width="97%"></svg> <h5 class="text-center"> COMMUNICATION </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge2" width="97%"></svg> <h5 class="text-center"> SPEECH </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge3" width="97%"></svg> <h5 class="text-center"> SOCIAL </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge4" width="97%"></svg> <h5 class="text-center"> MEMORY</h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge5" width="97%"></svg> <h5 class="text-center"> PHYSICAL </h5>
        </div>
        <div class='col-sm-2 col-xs-12'>
          <svg id="fillgauge6" width="97%"></svg> <h5 class="text-center"> RESPNISIVENESS </h5>
        </div>
      </div>
    </div>
	</snap-content>	
</div>
