<ion-view view-title="main">
	<ion-header-bar class="bar-stable">
	  <h1 class="title"> مرحباً</h1>
  	</ion-header-bar>
  	<ion-content class="padding has-header">
  	<div class="padding">
	  <button class="button button-block button-calm" ng-click='login()'><h3>تسجيل الدخول</h3></button>
  	</div>
	  <div ng-controller="SignUp" class="padding">
	  	<button class="button button-block button-calm" ng-click='signUp()'><h3>مستخدم جديد</h3></button>
	  </div>
	  <p>الذهاب للصفحة رقم ٢ <a href="#/page2">الذهاب للصفحة ٢</a></p>
	  <!-- <p>دخول الطلاب  <a href="#/login">تسجيل دخول الطلاب</a></p> -->
	  <p>Go to form 1?  <a href="#/form1">Go to form 1</a></p>
  	</ion-content>
</ion-view>

