<div class="landingPage">
  <div class="showContainer">
    <div class="slideShow">
      <!-- Carousel -->
      <script type="text/javascript">
        $('.carousel').carousel();
      </script>
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
          <li data-target="#carousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item">
            <div style="width: 100%; height: 250px;">
            </div>
            <div style="background-color: white; opacity: 0.8;">
              <!-- <h1>Slide title</h1>
              <p> slide details for the future</p> -->
            </div>
          </div>
          <div class="item">
            <div style="width: 100%; height: 250px;">
            </div>
            <div style="background-color: white; opacity: 0.8;">
              <!-- <h1>Slide title</h1>
              <p> slide details for the future</p> -->
            </div>
          </div>
          <div class="item">
            <div style="width: 100%; height: 250px;"></div>
            <div style="background-color: white; opacity: 0.8;">
              <!-- <h1>Slide title</h1>
              <p> slide details for the future</p> -->
            </div>
          </div>
          <div class="item">
            <div style="width: 100%; height: 250px;">
            </div>
            <div style="background-color: white; opacity: 0.8;">
              <!-- <h1>Slide title</h1>
              <p> slide details for the future</p> -->
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#carousel" data-slide="prev"></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"></a>
      </div>

    </div>
		<div class="minion">
    </div>
	</div>
  <div class="circles">
    <div class="circle">
			<a href="#/login"><img src="../images/membersArea.png"></a><br/>
			<caption><h4>Members area</h4></caption>	
		</div>
		<div class="circle">
			<a href="#/freeAssessment"><img src="../images/assessment.png"></a><br/>
			<caption><h4>Assessment</h4></caption>
		</div>
		<div class="circle">
			<a href="#/freePlay"><img src="../images/game.png"></a><br/>
			<caption><h4>Games</h4></caption>
		</div>
		<div class="circle">
			<a href="#/publicCenters"><img src="../images/centers.png"></a><br/>
			<caption><h4>Centers</h4></caption>
		</div>
  </div>

</div>
