<div class='col-xs-12' style='background:white;border-bottom: 1px solid #232c4b;'>
  <h1 class='col-xs-10' style='color:#232c4b;'>
    SPECIAL ED
  </h1>
  <a ui-sref="login" class="btn btn-login-hover btn-lg login-btn-new col-xs-2 text-center">Login</a>
</div>
<div class="login-page">
  <div class="img-container">
    <div class="text-center pull-right photo">
      <button ng-click="changeProfilePic()" class="btn btn-white btn-primary" value="Change Profile Picture" style='border:none;'>
        <img src={{user.profilePicture}} class="user-avatar img-circle img-responsive" style='min-width:200px;min-height:200px;'/>	
        Click ^ to upload	
      </button>
    </div>
  </div>
<div class="form-content">
  <h1 style='color:#232c4b;'> HELLO </h1>
    <p style='color:#232c4b;'> Please sign up </p>
      <form role="form" class="bottom-75" ng-submit="submit()">
        <div class="table-form">
          <div class="form-groups">
            <div class='select-wrapper form-control input-lg-wrapper' style='margin-bottom: 10px;'>
              <select class='form-control2 input-lg2' id="sel1" ng-model="option" ng-change="changeSelect()">
                <option value='Select Type of User' selected="selected">Select Type of User </option>
                <option value='Student'>Student</option>
                <option value='Teacher'>Teacher</option>
                <option value='Center'>Center</option>
              </select>
            </div>
            <div class="select-wrapper form-control input-lg-wrapper" style='margin-bottom: 10px;' ng-if="!centerSelected">
              <select class="form-control2 input-lg2" id="sel11" ng-model="option1.center" ng-change="changeSelect1()">
              <option value='Select Center' selected="selected">Select Center </option>
              <option ng-repeat="center in data.centers">{{center.centername}}</option>
              </select>
            </div>
            <div class="form-group" ng-if="studentSelected || teacherSelected || centerSelected">
              <input ng-if="studentSelected || teacherSelected" type="text" class="form-control input-lg" id="" placeholder="FULLNAME" ng-model='user.fullname'>
              <input ng-if="centerSelected" type="text" class="form-control input-lg" id="" placeholder="CENTER NAME" ng-model='user.centername'>
            </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" id="" placeholder="USERNAME" ng-model='user.username'>
            </div>
            <div class="form-group">
              <input type="email" class="form-control input-lg" id="" placeholder="EMAIL" ng-model='user.email' required>
            </div>
            <div class="form-group" ng-if="centerSelected">
              <input type="text" class="form-control input-lg" id="" placeholder="CENTER address" ng-model='user.address'>
            </div>
            <div class="form-group" ng-if="centerSelected">
              <input type="number" class="form-control input-lg" id="" placeholder="CENTER phone" ng-model='user.phone'>
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" id="" placeholder="PASSWORD" ng-model='user.password'>
            </div>
            <div class="form-group" ng-if="studentSelected" >
              <h4> <b>Date of Birth </b></h4>
              <input ng-if="studentSelected" class='form-control input-lg' type="date" id="dateOfBirth" ng-model="user.birthdate" placeholder="Date of Birth">
            </div>					
            <button class="btn btn-login-hover btn-block login-btn-new" type='submit'></span> Sign Up <i class='glyphicon glyphicon-ok-circle'></i></button>
          </div>        
        </div>
        <div class="remember">
          <span class='col-xs-6'><label class="checkbox1" for="Option"> 
          <input id="Option" type="checkbox" class="">
          <span></span>
          </label>remember me</span>
        </div>			
      </form>
    </div>			
  </div>
