<button ng-click="signout()">sign out</button>
<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Phone Number</th>
		<th>Address</th>
		<th>Quantity</th>
		<th>Order Date</th>
		<th>Total Price</th>
		<th></th>
	</tr>
	<tr ng-repeat="order in data.orders" onclick="location()">
		<td>{{order.fullName}}</td>
		<td>{{order.phoneNumber}}</td>
		<td>{{order.address}}</td>
		<td>{{order.quantity}}</td>
		<td>{{order.orderDate}}</td>
		<td>{{order.totalPrice}}</td>
		<td><a ng-click="delivered($index)">delivered</a></td>
	</tr>
</table>