<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script><script src="{{gmapAPI}}"></script>
<div>
    <div class="fr">
      <div style="height: 70px;">
        <h1 class='col-xs-10' style='color:#232c4b;'>
          <a href="#landingPage"><i class="glyphicon glyphicon-home"></i></a>
    SPECIAL ED
  </h1>
</div>      
      <h2>Centers<small> nearby you...</small></h2>
    </div>
    <div>
      <div id="map"></div>
      <div class="container" style="width: 25%; float: left;">
        <div style="height: 500px; overflow: scroll; margin-top: 10px;">
          <div id="centersList" class="row list-group" style="height: 500px; overflow: scroll">
            <div  ng-repeat="center in data.centers">
              <div class="thumbnail" style="margin: 20px; border-radius: 0px 40px 40px 0px; height: 100px; background-color: white;">
                <img class="group list-group-image" src={{center.image}} alt="" width="90" height="90" style="float: left;" />
                <div class="caption">
                  <p class="group inner list-group-item-heading">{{center.centername}}</p>
                  <div class="col-xs-12 col-md-6" ng-repeat="marker in markers" style="float:left;">
                    <a class="btn btn-login-hover btn-block login-btn-new" ng-if="marker.centerName === center.centername" ng-click="openInfoWindow($event, marker)">Show</a>
                  </div>
                </div>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>	
</div>