/* Empty. Add your own CSS if you like */
/*to make right to left direction*/
body{
  direction: rtl;
}

/*to make the text displays completly without trimming*/
.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

/*to solve the problem of hide the radio content (selecting options) while in right to left */
.item-radio input[type="radio"] {
  display: none;
}