/* Empty. Add your own CSS if you like */
body{
  direction: rtl;
}


.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

.item-radio input[type="radio"] {
  display: none;
}