 <div class="tab-pane fade in active">
  <form class="form-horizontal" name="signinForm" ng-submit='signinCenter()'>
   <div class="form-group">
     <div class="col-sm-10">
       <input type="text" class="form-control" id="centername" placeholder="center name" ng-model='user.username'>
     </div>
   </div>
   <div class="form-group">
     <div class="col-sm-10">
       <input type="password" class="form-control" id="password" placeholder="Password" ng-model='user.password'>
     </div>
   </div>
   <div class="form-group">
     <div class="col-sm-10">
       <button type="submit" class="btn btn-default">Sign in</button>
     </div>
   </div>
  </form>
  <div class="text-center">
    <a href="#/signupCenter"><strong>Apply!</strong> to be a Center...</a>
  </div>
</div>
