<div id="assessmentForm">
	<div ng-repeat="category in allQuestions">	
		<span ng-show="category.step==1">
			<form class="form-horizontal" ng-repeat="Question in category">
				<div ng-repeat="Q in Question">
					<h1>Q: {{Q.Q}}</h1>
					<div>
					
						<div class="radio">
							<input type="radio"  value="1" ng-model="Q.value" checked>
								Yes
						</div>
						<div class="radio">
							<input type="radio" value="2" ng-model="Q.value">
								No
						</div>
					</div>
				</div>
			</form>	
		</span>	
</div>
<a ng-click="nextStep()">Next</a>
</div>
<button ng-click="submit()" > submit</button> 
</ng-form>
<!-- </div> -->			
</div>